<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>470356000</real>
		<key>sheetClusters</key>
		<dict>
			<key>mechanical.md</key>
			<dict>
				<key>lastModification</key>
				<real>470356000</real>
				<key>version</key>
				<dict>
					<key>legacy-470356000.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>prototyping.md</key>
			<dict>
				<key>lastModification</key>
				<real>470356000</real>
				<key>version</key>
				<dict>
					<key>legacy-470356000.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>supplies.md</key>
			<dict>
				<key>lastModification</key>
				<real>470356000</real>
				<key>version</key>
				<dict>
					<key>legacy-470356000.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>tools.md</key>
			<dict>
				<key>lastModification</key>
				<real>470356000</real>
				<key>version</key>
				<dict>
					<key>legacy-470356000.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>mechanical.md</string>
		</array>
		<array>
			<string>prototyping.md</string>
		</array>
		<array>
			<string>supplies.md</string>
		</array>
		<array>
			<string>tools.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>53c0622450f8157be1ce5e05c460553f8c3b0daeb408c49be52e7fb253cb215d</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>53c0622450f8157be1ce5e05c460553f8c3b0daeb408c49be52e7fb253cb215d</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
